[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://data.dgl.ai/wheels/repo"
verify_ssl = true
name = "dgl"



[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
allennlp-models = "*"
allennlp = "*"
tqdm = "*"
pytorch-lightning = "*"
tokenizers = "*"
numpy = "*"
notebook = "*"
jupyter = "*"
amrlib = "*"
penman = "*"
cached-property = "*"
unidecode = "*"
datasets = "*"
rdflib = "~=5.0"
dgl-cu113 = {file="https://data.dgl.ai/wheels/dgl_cu115-0.8.1-cp39-cp39-manylinux1_x86_64.whl"}
dglgo = "*"

[dev-packages]

[requires]
python_version = "3.9"



