[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
dgl = "*"
allennlp-models = "*"
allennlp = "*"
tqdm = "*"
pytorch-lightning = "*"
tokenizers = "*"
numpy = "*"
notebook = "*"
jupyter = "*"
amrlib = "*"
penman = "*"
cached-property = "*"
unidecode = "*"
datasets = "*"
rdflib = "~=5.0"

[dev-packages]

[requires]
python_version = "3.9"
